footer {
    font-size: 1.5rem;
}

.footerLogoContainer {
    overflow: hidden;
    height: 250px;
    width: 250px;
}

.footerLogo {
    transform: scale(0.9);
    object-fit: cover;
    object-position: center;
}

.mediaIcon {
    height: 100px;
    width: 100px;
    background-size: 200%;
    background-position: center;
}

.fbIcon {
    background-image: url(../graphics/FBIcon.png)
}

.igIcon {
    background-image: url(../graphics/IGIcon.png)
}

.pinIcon {
    background-image: url(../graphics/PinIcon.png)
}

@media screen and (max-width: 1140px) {
    footer {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 960px) {
    footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 3vw;
    }

    .footerLogoContainer {
        overflow: hidden;
        height: 200px;
        width: 200px;
    }

    .footerLogo {
        transform: scale(0.7);
        object-fit: cover;
        object-position: center;
    }
}