footer {
    font-size: 1.5rem;
}

.footerLogo {
    height: 250px;
    width: 250px;
    background-size: 175%;
    background-position: center;
    z-index: 0;
}

.mediaIcon {
    height: 100px;
    width: 100px;
    background-size: 200%;
    background-position: center;
}

.fbIcon {
    background-Image: url(../graphics/FBIcon.png)
}

.igIcon {
    background-Image: url(../graphics/IGIcon.png)
}

.pinIcon {
    background-Image: url(../graphics/PinIcon.png)
}

@media screen and (max-width: 1140px) {
    footer {
        font-size: 1.25rem;
    }

    .footerLogo {
        height: 200px;
        width: 200px;
        background-size: 175%;
        background-position: center;
        z-index: 0;
    }
}

@media screen and (max-width: 960px) {
    footer {
        font-size: 1rem;
    }

    .footerLogo {
        height: 150px;
        width: 150px;
        background-size: 175%;
        background-position: center;
        z-index: 0;
    }
}