header {
    font-family: Cormorant Garamond, serif;
    background-color: var(--white);
}

.myImgBox {
    object-fit: cover;
    object-position: center top;
    max-height: 24vh;
    max-width: 500px;
    overflow: hidden;
    position: relative;
}

.myImg {
    object-fit: cover;
    object-position: center top;
}

.myLink {
    text-decoration: none;
}

.myBtn {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.myBtn:hover {
    background-color: var(--white);
    color: var(--blue);
}

.myBtn,
.myBtn:hover {
    transition: background-color 0.2s ease-in-out;
}