header {
    font-family: Cormorant Garamond, serif;
    background-color: var(--white);
}

.myPhotographyPos {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

.myBtn {
    background-color: var(--white);
    border: 1px solid var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.myBtn:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
}

.myBtn,
.myBtn:hover {
    transition: border 0.2s ease-in-out;
}