.homeGallery {
    height: 80vh;
}

.homepageImgContainer {
    max-height: 70vh;
    max-width: 400px;
    overflow: hidden;
}

.homepageImg {
    max-height: 70vh;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.homepageImg2 {
    max-height: 100vh;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.cropImg2 {
    object-fit: cover;
}

.welcomeBreak {
    height: 10vh;
}

.welcome1 {
    margin-bottom: -15px;
}

.welcome3 {
    margin-top: -15px;
}

.formLink {
    color: black;
    text-decoration: underline;
}

.meetHeader {
    font-size: 3rem;
    font-weight: 600;
    color: var(--blue);
}

.myPortrait {
    border: 6px solid white;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    min-height: 500px;
    background-size: cover;
    background-position: center 25%;
    box-shadow: -15px 15px white;
}

.myGraphic {
    height: 300px;
    width: 300px;
    background-size: 200%;
    background-position: center;
    position: relative;
    top: 340px;
    left: -150px;
}

.myInfoText {
    border: 1px solid var(--blue);
    border-radius: 20px;
    height: 400px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
}

.bookBtn {
    font-size: 2rem;
}