.homeGallery {
    height: 80vh;
}

.homepageImgContainer {
    max-height: 70vh;
    max-width: 400px;
    overflow: hidden;
}

.homepageImg {
    max-height: 70vh;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.homepageImg2 {
    max-height: 100vh;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.cropImg2 {
    object-fit: cover;
}

.welcome1 {
    margin-bottom: -15px;
}

.welcome3 {
    margin-top: -20px;
}

.formLink {
    color: black;
    text-decoration: underline;
}

.meetSection {
    background-color: var(--lightTeal);
    position: relative;
}

.meetSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.33%;
    background-color: var(--teal);
    z-index: 0;
}

.meetHeader {
    font-size: 3rem;
    font-weight: 600;
}

.myPortrait {
    border: 6px solid white;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    min-height: 500px;
    background-size: cover;
    background-position: center 25%;
    box-shadow: -15px 15px white;
}

.graphic3 {
    object-fit: cover;
    position: absolute;
}

.graphic3-1 {
    height: 600px;
    right: 70%;
    bottom: 30%;
}

.graphic3-2 {
    height: 400px;
    right: 68%;
    bottom: 30%;
}

.graphic3-3 {
    height: 400px;
    right: 7%;
    bottom: -7%;
}

.graphic3-4 {
    height: 700px;
    right: -7%;
    bottom: -55%;
}

.graphic4 {
    height: 350px;
    width: 350px;
    background-size: 250%;
    background-position: center;
    position: absolute;
    top: 150%;
    left: 75%;
}

.myInfoText {
    border: 1px solid var(--blue);
    border-radius: 20px;
    height: 400px;
    font-size: 1.5rem;
    font-weight: 600;
    transform: rotate(-5deg);
}

.myTextBorder1 {
    transform: rotate(-5deg);
    position: relative;
    z-index: 1;
}

.myTextBorder2 {
    transform: rotate(10deg);
    position: relative;
    z-index: 2;
}

.bookBtn {
    font-size: 2rem;
}