.myImgContainer {
    height: 1000px;
    /* width: 1000px; */
    background-size: cover;
    background-position: center;
}

.myImg {
    object-fit: cover;
    object-position: center;
}

.myPortrait {
    border: 1px solid var(--blue);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    min-height: 500px;
    background-size: cover;
    background-position: center 25%;
    box-shadow: -15px 15px var(--blue);
}