.portLandscape {
    height: 225px;
    object-fit: cover;
    opacity: 0;
}

.portLandscape.loaded {
    transition: all 2s;
    opacity: 1;
}

.portPortrait {
    height: 500px;
    width: 350px;
    object-fit: cover;
    opacity: 0;
}

.portPortrait.loaded {
    transition: all 2s;
    opacity: 1;
}

.portfolio-loading {
    position: relative;
}