.packageHeader {
    margin-top: -1%;
    margin-bottom: -1%;
}

.listIncluded {
    height: 150px;
}

.pricingBG {
    background-size: cover;
    background-position: center;
}

.priceCard {
    margin: 50px 65px;
    border-radius: 40px;
    width: 350px;
}

.priceCard h2 {
    font-size: 35px;
}

@media screen and (max-width: 1400px) {
    .priceCard {
        margin: 25px 25px;
    }

}