.packageHeader {
    margin-top: -1%;
    margin-bottom: -1%;
}

.listIncluded {
    height: 150px;
}

.pricingBG {
    background-size: cover;
    background-position: center;
}

.priceCard {
    border-radius: 40px;
}

.submitBtn {
    border-radius: 20px;
    border: 1px solid var(--blue);
    background-color: var(--white);
}

.submitBtn:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
}

.submitBtn,
.submitBtn:hover {
    transition: border 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}