:root {
    --white: #ebe9df;
    --blue: #68869a;
    --teal: #a4b2b0;
    --lightTeal: #beccca;
    --brown: #d1a179;
    --gray: #cecece;
}

.myBody {
    min-height: 100vh;
    background-color: var(--white);
    z-index: -1;
    font-family: Cormorant Garamond, serif;
}

.gloock {
    font-family: 'Gloock', serif;
}

.allura {
    font-family: 'Allura', cursive;
}

.bModa {
    font-family: 'Bodoni Moda', serif;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.myLgText {
    font-size: 48px;
}

@media screen and (max-width: 720px) {
    .myLgText {
        font-size: 40px;
    }
}

@media screen and (max-width: 400px) {
    .myLgText {
        font-size: 32px;
    }
}

.myXLText {
    font-size: 5rem;
}

.noTextDec {
    text-decoration: none;
}

.bgTeal {
    background-color: var(--teal);
}

.bgLightTeal {
    background-color: var(--lightTeal);
}

.bgBrown {
    background-color: var(--brown);
}

.bgWhite {
    background-color: var(--white) !important;
}

.bgGray {
    background-color: var(--gray);
}

.coverCenter {
    background-size: cover;
    background-position: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Apply the animation to the page content */
.fade-in {
    animation: fade-in 1s ease-in-out;
}