:root {
    --white: #ebe9df;
    --blue: #68869a;
    --teal: #a4b2b0;
    --lightTeal: #beccca;
    --brown: #d1a179;
}

.myBody {
    min-height: 100vh;
    background-color: var(--white);
    font-family: Cormorant Garamond, serif;
}

.gloock {
    font-family: 'Gloock', serif;
}

.allura {
    font-family: 'Allura', cursive;
}

.bModa {
    font-family: 'Bodoni Moda', serif;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.myLgText {
    font-size: 3rem;
}

.myXLText {
    font-size: 5rem;
}

.noTextDec {
    text-decoration: none;
}

.bgTeal {
    background-color: var(--teal);
}

.bgLightTeal {
    background-color: var(--lightTeal);
}

.bgBrown {
    background-color: var(--brown);
}