:root {
    --white: #ebe9df;
    --blue: #68869a;
    --teal: #a4b2b0;
    --lightTeal: #c9d2d1;

}

.myBody {
    min-height: 100vh;
    background-color: var(--blue);
    font-family: Cormorant Garamond, serif;
}

.gloock {
    font-family: 'Gloock', serif;
}

.allura {
    font-family: 'Allura', cursive;
}

.myLgText {
    font-size: 3rem;
}